.not-found-container {
  margin-top: 5%;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-img {
  width: 10%;
}

.not-found-heading {
  font-size: 3vw;
  color: #ffffff;
}

.not-found-para {
  font-size: 1.3vw;
  color: #ffffff;
}





@media (max-width:768px) {
  .not-found-container {
    height: 90vh;
  }
   .not-found-img {
    width: 70%;
   }

   .not-found-heading {
    font-size: 8vw;
   }

   .not-found-para {
    font-size: 3vw;
   }
}

@media (min-width:768px) {
  .not-found-img {
    width: 40%;
  }

  .not-found-heading {
    font-size: 4vw;
  }

  .not-found-para {
    font-size: 2vw;
  }
}