.loginMainContainer {
  height: 100vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userForm {
  width: 30%;
  height: 400px;
  background-color: #272727;
  border-radius: 10px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.userInput {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.loginInputs {
  width: 100%;
  padding: 4% 4%;
  font-size: 1.2vw;
  border: none;
  color: #ffffff;
  background-color: #202020;
}

.loginInputs:focus {
  outline: none;
}

.loginLabels {
  font-size: 1vw;
  color: #ffffff;
  margin-bottom: 4%;
}

.error-msg {
  color: red;
  font-size: 0.8vw;
  margin: 0px;
}

.loginBtn {
  color: #ffffff;
  background-color: #4f46e5;
  font-size: 1vw;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding: 2%;
  align-self: stretch;
  border: none;
  border-radius: 5px;
}

.loginLogo {
  width: 180px;
  height: 55px;
}



@media  (max-width:576px) {
  .loginLogo {
    width: 100px;
    height: 25px;
  }
  .userForm {
    width: 60%;
    height: 200px;
  }

  .loginInputs {
    font-size: 3vw;
    padding: 5%;
  }
  .loginLabels {
    font-size: 2.5vw;
  }
  .loginBtn {
    font-size: 2.5vw;
  }
}

@media (min-width:576px) and (max-width:768px) {
  .loginLogo {
    width: 150px;
    height: 45px;
  }
  .userForm {
    width: 70%;
    height: 400px;
  }

  .loginInputs {
    font-size: 3vw;
    padding: 5%;
  }
  .loginLabels {
    font-size: 2.5vw;
  }
  .loginBtn {
    font-size: 2.5vw;
  }
}

@media (min-width:768px) and (max-width:992px) {
  .loginLogo {
    width: 120px;
    height: 35px;
  }
  .userForm {
    width: 40%;
    height: 400px;
  }

  .loginInputs {
    font-size: 2vw;
    padding: 4%;
  }
  .loginLabels {
    font-size: 2vw;
  }
  .loginBtn {
    font-size: 2vw;
  }
}

@media (min-width:992px) and (max-width:1200px) {
  .loginLogo {
    width: 160px;
    height: 50px;
  }
  .userForm {
    width: 40%;
    height: 400px;
  }

  .loginInputs {
    font-size: 1.2vw;
    padding: 3%;
  }
  .loginLabels {
    font-size: 1vw;
  }
  .loginBtn {
    font-size: 1vw;
  }
}


@media (min-width:1200px) {
   .loginLogo {
    width: 160px;
    height: 50px;
  }
  .userForm {
    width: 30%;
    height: 400px;
  }

  .loginInputs {
    font-size: 1.2vw;
    padding: 3%;
  }
  .loginLabels {
    font-size: 1vw;
  }
  .loginBtn {
    font-size: 1vw;
  }
}



